/*HTML*/
#navBar {
    width: 100%;
    height: 75px;
}

#gazetteerTitle {
    color: yellow;
    font-size: 32px;
    opacity: 0.7;
    font-weight: bold;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-left: -10px;
    letter-spacing: .1em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777;
}

#countrySelect {
    float: right;
    width: 60%;
    margin-right: -20px;
    top: 4px;
}

/*Map*/
#mapid {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}