#map {
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    overflow: hidden;
    display: flex;
    margin: 0px;
}

#navBar {
    width: 100%;
    height: 75px;
    background-color: #9ab3f5!important;
    border: 4px solid #8278c7;
    overflow: hidden!important;
    display: flex!important;
    margin: 0px!important;
}

#gazetteerTitle {
    color: #150485;
    opacity: 0.8;
    font-weight: bold;
    font-family: 'Proza Libre', sans-serif;
    margin-left: -10px;
    letter-spacing: .1em;
    font-size: 1.6em;
}

#countrySelect {
    float: right;
    width: 50%;
    margin-right: -20px;
    top: 4px;
    right: 5px;
}

#countryInfo {
    display: block;
    margin-left: 10px;
    position: absolute;
    top: 20%;
    background: lightgrey;
    opacity: 0.8;
    border: 2px solid hsl(248, 41%, 63%);
    border-radius: 10px;
    top: 15%;
    display: none;
}

#countryInfo button {
    display: block;
}

#wondersInfo {
    display: block;
    right: 0px;
    margin-right: 10px;
    position: absolute;
    bottom: 20px;
    background: lightgrey;
    opacity: 0.8;
    border: 2px solid hsl(248, 41%, 63%);
    border-radius: 10px;
}

.photos {
    width: 180px; 
    height: 130px;
}

.btn btn-outline-secondary, img {
    width: 50px; 
    height: 40px;
}

img {
    width: 40px; 
    height: 40px;
}

.wonder_pics {
    width: 180px; 
    height: 180px;
}

#loading-image {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 60px; 
    height: 45px;
    border-radius: 90px;
}